<!DOCTYPE html>
<html lang="pl" xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/extras/spring-security">>
<head>
  <meta charset="UTF-8">
  <title>Dodaj magnes</title>
  <link rel="stylesheet" th:href="@{/css/add.css}" href="/../static/css/add.css">
</head>
<body>
<nav class="nav-container">
  <ul class="left-side">
    <li><a href="/">Strona główna</a></li>
    <li><a sec:authorize="hasRole('ROLE_consultant')" href="/add">Dodaj magnes</a> </li>
  </ul>
  <ul class="right-side">
    <li><a href="/change-password">Zmień hasło</a></li>
    <li><a href="/logout">Wyloguj się</a></li>
    <li><span th:text="${#authentication.name}">Username</span> </li>
  </ul>
</nav>


<div class="container">
  <form th:action="@{/add-badge}" method="post">
    <label>
      <select name="color">
        <option selected disabled>Wybierz kolor</option>
        <option class="red" th:value="|red|">Czerwony</option>
        <option class="green" th:value="|green|">Zielony</option>
        <option class="blue" th:value="|blue|">Niebieski</option>
        <option class="orange" th:value="|orange|">Pomarańczowy</option>
        <option class="yellow" th:value="|yellow|">Żółty</option>
      </select>
    </label>
    <label>
      <select name="project">
        <option class="option_project" selected disabled>Wybierz projekt</option>
        <option class="option_project" th:each="project : ${projectList}" th:value="${project}" th:text="${project}"></option>
      </select>
    </label>
    <button type="submit">Dodaj</button>
  </form>
</div>
&nbsp;
<div th:each="project, it : ${projectList}">
  <table class="main_table">
    <caption>
      <span class="red" th:text="${descriptions[it.index][0]}">red</span>
      <span class="green" th:text="${descriptions[it.index][1]}">green</span>
      <span class="blue" th:text="${descriptions[it.index][2]}">blue</span>
      <span class="yellow" th:text="${descriptions[it.index][3]}">yellow</span>
      <span class="orange" th:text="${descriptions[it.index][4]}">orange</span>
    </caption>
    <thead>
    <tr>
      <th colspan="15" th:text="${projectList[it.index]}">nazwa projektu</th>
    </tr>
    </thead>
    <tbody>
    </tbody>
  </table>
</div>
</body>
</html>
