<!DOCTYPE html>
<html lang="pl" xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/extras/spring-security">>
<head>
  <meta charset="UTF-8">
  <title>Logowanie</title>
  <link rel="stylesheet" th:href="@{/css/change-password.css}" href="/../static/css/change-password.css.css">
</head>
<body>
<nav class="nav-container">
  <ul class="left-side">
    <li><a href="/">Strona główna</a></li>
    <li><a sec:authorize="hasRole('ROLE_admin')" href="/admin">Admin</a> </li>
    <li><a sec:authorize="hasRole('ROLE_consultant')" href="/add">Dodaj magnes</a> </li>
  </ul>
  <ul class="right-side">
    <li><a href="change-password">Zmień hasło</a></li>
    <li><a href="/logout">Wyloguj się</a></li>
    <li><span th:text="${#authentication.name}">Username</span> </li>
  </ul>
</nav>
<form action="/change-password" method="post" th:object="${changePasswordDto}">
  <div class="choose_project">
    <h1>Zmiana hasła</h1>
    <hr>

    <label for="old_passwd_label"><b>Obecne hasło</b></label>
    <input type="password" th:field="*{oldPassword}" placeholder="********" id="old_passwd_label" required>

    <label for="new-passwd-label"><b>Nowe hasło</b></label>
    <input type="password" th:field="*{newPassword}" placeholder="********" id="new-passwd-label" required>

    <label for="new-passwd-repeat-label"><b>Powtórz nowe hasło</b></label>
    <input type="password" th:field="*{newConfirmedPassword}" placeholder="********" id="new-passwd-repeat-label" required>
    <hr>

    <button type="submit">Zmień hasło</button>
  </div>
</form>
</body>
</html>
