<!DOCTYPE html>
<html lang="pl" xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/extras/spring-security">>
<head>
  <meta charset="UTF-8">
  <title>Strona główna</title>
  <link rel="stylesheet" th:href="@{/css/index.css}" href="/../static/css/index.css">
</head>
<body>
  <nav class="nav-container">
    <ul class="left-side">
        <li><a href="/">Strona główna</a></li>
        <li><a sec:authorize="hasRole('ROLE_admin')" href="/admin">Admin</a> </li>
        <li><a sec:authorize="hasRole('ROLE_consultant')" href="/add">Dodaj magnes</a> </li>
    </ul>
    <ul class="right-side">
        <li><a href="/change-password">Zmień hasło</a></li>
        <li><a href="/logout">Wyloguj się</a></li>
        <li><span th:text="${#authentication.name}">Username</span> </li>
    </ul>
  </nav>

  <div class="no_project" th:if="${size} eq 0">
      <h1 sec:authorize="hasRole('ROLE_consultant')">Na ten moment nie ma Cię w żadnym projekcie :(</h1>
      <h1 sec:authorize="hasRole('ROLE_admin')">Na ten moment nie obserwujesz żadnych konsultantów :(</h1>
  </div>
<div class="container" th:unless="${size} eq 0">
    &nbsp;
        <form th:action="@{/add-badge}" method="post" th:each="mainTable, it : ${tables}">
            <table class="main_table">
                <caption>
                    <span class="red" th:text="${descriptions[it.index][0]}">red</span>
                    <span class="green" th:text="${descriptions[it.index][1]}">green</span>
                    <span class="blue" th:text="${descriptions[it.index][2]}">blue</span>
                    <span class="yellow" th:text="${descriptions[it.index][3]}">yellow</span>
                    <span class="orange" th:text="${descriptions[it.index][4]}">orange</span>
                </caption>
                <thead>
                <tr>
                    <th colspan="15" th:text="${projects[it.index]}">nazwa projektu</th>
                </tr>
                </thead>
                <tbody>
                <tr th:each="record : ${mainTable}">
                    <td class="name_column" th:text="${record.name}"></td>
                    <td th:each="it : ${#numbers.sequence(0,9,1)}"> <img th:src="${record.badges[it]}"> </td>
                </tr>
                </tbody>
            </table>
            &nbsp;
            <div sec:authorize="hasRole('ROLE_consultant')" class="choose_project">
                <label>
                    <select name="color" class="temp">
                        <option selected disabled>Wybierz kolor</option>
                        <option class="red" th:value="|red|">Czerwony</option>
                        <option class="green" th:value="|green|">Zielony</option>
                        <option class="blue" th:value="|blue|">Niebieski</option>
                        <option class="orange" th:value="|orange|">Pomarańczowy</option>
                        <option class="yellow" th:value="|yellow|">Żółty</option>
                    </select>
                </label>
                <input type="hidden" name="project" th:value="${projects[it.index]}">
                <button class="temp" type="submit">Dodaj</button>
            </div>
            &nbsp;
        </form>
</div>
</body>
</html>
