<!DOCTYPE html>
<html lang="pl" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Rejestracja</title>
    <link rel="stylesheet" th:href="@{/css/change-password.css}" href="/../static/css/change-password.css">
</head>
<body>
<nav class="nav-container">
    <ul class="left-side">
        <li><a href="/login">Logowanie</a> </li>
        <li><a href="/register">Rejestracja</a> </li>
    </ul>
    <ul class="right-side">
    </ul>
</nav>

<div style = "position:relative; left:15px; top:15px;">
    <h1>Udało się!</h1>
    <hr>
</div>
</body>
</html>